<div id="page-wrapper">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Projects - Create</h1>
    </div>
    <!-- /.col-lg-12 -->
  </div>
  <!-- /.row -->
  <div class="row">
    <div class="form-group">
      <label>Key:</label>
      <input [(ngModel)]="model.project.key" type="text" class="form-control">
    </div>
    <div class="form-group">
      <label>Name:</label>
      <input [(ngModel)]="model.project.name" type="text" class="form-control">
    </div>
    <div *ngFor="let message of model.validationMessages">
      <p class="text-danger">{{message}}</p>
    </div>
    <button (click)="model.onClick_Submit()" class="btn btn-success pull-right"><i class="fa fa-save"></i>&nbsp;Submit</button>
  </div>
</div>
<!-- /#page-wrapper -->