<div id="page-wrapper">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Groups - List</h1>
    </div>
    <!-- /.col-lg-12 -->
  </div>
  <!-- /.row -->
  <div class="row" *ngIf="model != null">
    <h2>
      Groups
      <a href="/featuretoggle/groups/create" class="btn btn-primary pull-right"><i class="fa fa-plus"></i>&nbsp;Create Group</a>
    </h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Key</th>
          <th>Name</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let group of model.groups">
          <td>{{group.key}}</td>
          <td>{{group.name}}</td>
          <td>
            <a href="/featuretoggle/groups/edit?key={{group.key}}" class="btn btn-warning"><i class="fa fa-edit"></i>&nbsp;Edit</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<!-- /#page-wrapper -->